// Body
$body-bg: #f8fafc;
$body-color: #0b1f48;

// Typography
$font-family-sans-serif: 'Marmelad',
sans-serif;
$font-size-base: 1.1rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #35551c;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$border-color: #b0c4a2dd !default;

$modal-content-bg: #35551cdd !default;


$input-bg: #e4e4e4 !default;

$modal-backdrop-bg: #afc8dd !default;

$border-radius: .6rem !default;
$border-radius-lg: .7rem !default;
$border-radius-sm: .5rem !default;



$container-max-widths: (sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 960px) !default;

// Links
//
// Style anchor elements.

$link-color: #0b1f48 !default;
$link-decoration: none !default;
$link-hover-color: darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;
// Darken percentage for links with `.text-*` class (e.g. `.text-success`)
$emphasized-link-hover-darken-percentage: 15% !default;

$stretched-link-pseudo-element: after !default;
$stretched-link-z-index: 1 !default;

$gray-800: #343a40aa !default;


$modal-xl:                          1140px !default;
$modal-lg:                          800px !default;
$modal-md:                          500px !default;
$modal-sm:                          300px !default;