// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import "~font-awesome/scss/font-awesome.scss";

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';



@import './animsition.min.css';
@import "photoswipe/src/css/default-skin/default-skin.scss";
@import "photoswipe/src/css/main.scss";
@import './calc.css';
@import './style.scss';
@import './style.css';
@import './upload.css';